/* Enlarge card on hover */
.card:hover {
    transform: scale(1);
    transition: transform 0.4s ease;
    opacity: 0.3;
}

/* #canvas-container {
    position: relative;
    display: inline-block;
} */

canvas {
    border: 1px solid black;
}

.text-box {
    border: 1px dashed black;
    border-radius: 3px;
    position: absolute;
    display: none;
    pointer-events: none;
    /* Allow clicks to pass through */
}

.cursor {
    position: absolute;
    width: 2px;
    height: 30px;
    /* Match the height of the text */
    background-color: black;
    display: none;
    /* Initially hidden */
    animation: blink 1s step-start infinite;
    /* Blinking effect */
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Sidebar Styles */
.customize-sidebar {
    width: 250px;
    border-right: 1px solid #ddd;
    background: #f9f9f9;
}

.customize-sidebar h6 {
    font-weight: bold;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

#increaseSizeBtn, #decreaseSizeBtn, #boldBtn, #italicBtn, #underlineBtn, #addTextBtn, #deleteTextBtn {
    width: 40px;
    height: 40px;
    font-weight: bold;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

/* Canvas Styles */
.canvas-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    color: green;
    background-color: white;
}

select {
    margin-right: 10px;
    padding: 5px;
}

.canvas-container {
    background-image: URL('../Images/Elipse-Group.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
