@font-face {
    font-family: InterVariable;
    src: url(../fonts/InterVariable.ttf);
}

@font-face {
    font-family: InterVariable-Italic;
    src: url(../fonts/InterVariable-Italic.ttf);
}

body {
    color: rgb(232, 70, 130);
    font-family: InterVariable;
}

.hero-banner {
    background-image: URL('../Images/Elipse-Group.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-section {
    background-image: URL('../Images/Wave.png');
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
}

.featured-cards {
    background-image: URL('../Images/Elipse-Group.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-banner h1, .hero-banner p{
    color: rgb(232, 70, 130);
}

.btn-success, .btn-outline-success:hover{
    background-color: rgb(57, 181, 82);
    border-color: rgb(57, 181, 82);
}

.btn-success:hover, .btn-outline-success {
    color: rgb(57, 181, 82);
    background-color: transparent;
    border-color: rgb(57, 181, 82);
}

.nav-logo {
    max-height: 40px;
    width: auto;
}

/* Custom styles for the navbar */
.custom-navbar {
    font-family: InterVariable;
    background-color: rgb(57, 181, 82);
    padding: 10px 20px;
}

.custom-navbar .nav-link {
    color: #ffffff; /* White text */
    background-color: rgb(232, 70, 130); /* Pink bubble background */
    border-radius: 20px; /* Rounded bubble */
    padding: 8px 15px;
    margin: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.custom-navbar .nav-link:hover {
    background-color: #ffffff; /* White background on hover */
    color: rgb(232, 70, 130); /* Pink text on hover */
}

/* Adjust brand styles */
.custom-navbar .navbar-brand {
    color: rgb(252, 238, 63);
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
}

.notifications-panel {
    min-height: 376px; /* Adjust height as needed */
    overflow-y: auto;
    border: 1px solid #ddd; /* Add border to make it obvious */
    padding: 10px;
}

.notifications-panel::-webkit-scrollbar {
    width: 8px;
}

.notifications-panel::-webkit-scrollbar-thumb {
    background-color: #28a745; /* Customize scrollbar color */
    border-radius: 4px;
}
